.logo {
  svg {
    @apply mx-auto;
    height: 30px;
    width: auto;
  }
}

.links {
  @apply flex justify-center flex-wrap items-center mt-6;
  &__item {
    margin: 5px;
    @apply text-sm;
  }
}

.hero__main--bg {
  height: 775px;
}

.hero__sub--bg {
  height: 693px;
  max-width: 1045px;
  width: 100%;
}

.line {
  height: 2px;
  max-width: 157px;
  @apply bg-black mx-5 w-full;
}

.line-full {
  height: 2px;
  max-width: 100%;
  @apply bg-red;
  margin: 6rem 0 2.5rem 0;
}

.collage-item {
  width: 100%;
}

.collage-1 {
  max-width: 464px;
  width: 100%;
  height: 500px;
}
.collage-2 {
  max-width: 708px;
  height: 369px;
  width: 100%;
}
.collage-3 {
  max-width: 342px;
  height: 369px;
  width: 100%;
}
.collage-4 {
  max-width: 586px;
  width: 100%;
  height: 500px;
}

.collage-top {
}
.collage-col {
  &:first-of-type {
    margin: 0 12px 0 0;
  }
  &:last-of-type {
    margin: 0 0 0 12px;
  }
}
.mx-auto {
  svg {
    @apply mx-auto;
  }
}

.projectstext {
  max-width: 708px;
  margin: 0 auto;
  text-align: center;
}

.scroll-svg-wrap {
  @apply absolute;
  top: 280px;
  right: -345px;
}

.spinner-large {
  width: 630px;
  height: 630px;

  div {
    width: 100%;
    height: 100%;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.col {
  max-width: 475px;
  width: 100%;
}
